<!doctype html>
<html lang="en" class="h-full">
  <body class="h-full dark:text-white dark:bg-black">
        {{ content }}

      <script>
        document.getElementById("toggleDarkMode").addEventListener("click", function() {
          if (isDarkMode()) {
            localStorage.theme = 'light'
            document.documentElement.classList.remove('dark')
          } else {
            localStorage.theme = 'dark'
            document.documentElement.classList.add('dark')
          }
        });
      </script>
  </body>
</html>