

<div class="text-2xl my-4">
  <p>Привет, меня зовут <sapn class="font-semibold">Дима Фурье</sapn>. Я профессионально управляю проектами, людьми и компаниями. Помогаю предпринимателям лучше управлять бизнесом, с помощью инструментов фианасового менеджмента и пересмотра бизнес-процессов.</p>
  <p>Для связи <a href="https://t.me/DmitriyFourier" class="link-novisited">телеграм</a> и <a href="mailto:dmitriyfurye@gmail.com" class="link-novisited">электронная почта</a> </p>
</div>