

<div class="text-2xl my-4">
  <p>A pure dark topic for professionals who want to share their expertise. Features dark and light themes, a blog section, the ability to create podcast pages and your own creative projects. </p>
  <p>
    Support for a large number of social networks in the _site/data.json file works perfectly with line awesome.</p>
</div>