<section class="comments py-4" id="comments">
  <div class="widget emerge" data-hold="500" style="transition: opacity 500ms ease-out 0s; opacity: 1;">
    <div class="comments-white visible dark:hidden">
      <script defer src="https://comments.app/js/widget.js?3" data-comments-app-website="{{site.telegram-comments}}" data-limit="5"></script>
    </div>
    <div class="comments-dark hidden dark:inline">
    <script defer src="https://comments.app/js/widget.js?3" data-comments-app-website="{{site.telegram-comments}}" data-limit="5" data-dark="1"></script>
    </div>
</div>
</section>


