<div class="likely likely_visible likely_ready py-4">
  <div class="twitter">Twit</div>
  <div class="facebook">Share</div>
  <div class="vkontakte">Share</div>
  <div class="telegram">Share</div>
  <div class="linkedin">Link</div>
</div>