<div class="likely likely_visible likely_ready py-4">
  <div class="twitter">Твитнуть</div>
  <div class="facebook">Поделиться</div>
  <div class="vkontakte">Поделиться</div>
  <div class="telegram">Отправить</div>
  <div class="linkedin">Линкануть</div>
</div>